
.TopBarView {
    height: 80px;
    width: 70%;
}

.TopBarContent {
    height: 100%;
    justify-content: space-between;
    display: flex;
    background-color: #D8D9DE;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

/* .DropDownBody {
    width: 270px;
    max-width : 100%;
}

.DropDownLi {
    z-index: 1;
    position: relative;
    margin-right: 50px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    color: black;
    font-size: 25px;
    font-weight: 600;
    height: 80px;
    list-style-type: none;
    cursor: pointer;
    background: #D8D9DE;

    &:hover{
        background: #D8D9DE;
    }
} */

.ArrowDown {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #747474;
}

.ArrowUp {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #747474;
}